div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header
        div.mdl-layout__header-row
            span.mdl-layout__title(id="reponame") {{ repoName }}
            span.mdl-layout-spacer
            textfield(inputId="search", hintText="input search pattern")
            icon-button(for="search") search
            icon-button(@click.native="reload") refresh
    div.mdl-layout__drawer
        div(style="display:flex;")
            icon-button(style="color:#888;", @click.native="toggleDrawer") close

        nav.mdl-navigation
            router-link.mdl-navigation__link(:to="branchesLocation")
                i.material-icons local_offer
                span Branches & Tags
            a.mdl-navigation__link(href="#")
                i.material-icons cloud
                span Remotes
            router-link.mdl-navigation__link(:to="{ name: 'root' }")
                i.material-icons home
                span Back to home
            a.mdl-navigation__link(href="#")
                i.material-icons settings
                span Preferences
    main.mdl-layout__content
        div.main-content
            log-view


