main-layout(:title="repoName", :navigations="navigations")
    template(slot="titlebar-buttons")
        textfield(inputId="search", hintText="input search pattern")
        icon-button(for="search") search
        icon-button(@click.native="reload") refresh

    div.main-content
        transition(name="slide")
            router-view
        log-view


