label.mdl-button.mdl-js-button.mdl-button--icon(v-if="forElement", :for="forElement")
    i.material-icons
        slot
button.mdl-button.mdl-js-button.mdl-button--icon(v-else)
    i.material-icons
        slot
