doctype html
transition(name="modal")
    div.fullscreen-overlay.modal-mask(@click="onCancel", @keydown.tab.capture="onTabKeyDown")
        div.modal-container(@click.stop, @keydown.esc="onCancel")
            div.modal-header
                div.modal-title {{ title }}
                close-button(@click.stop="onCancel")
            div.modal-content
                slot
            div.modal-footer
                div(style="flex: 1")
                slot(name="footer-buttons")

