.modal-mask {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    transition: all 0.3s ease;
    overflow: hidden;

    &.modal-enter, &.modal-leave-active {
        background-color: rgba(0, 0, 0, 0);
    }
}

.modal-container {
    display: flex;
    padding: 0 0 1em 1em;
    flex-flow: column nowrap;
    box-sizing: border-box;
    @include mdc-theme-prop(background-color, background);
}

.dialog-base {
    .modal-container {
        margin: auto;
        min-width: 400px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
        transition: all 0.2s ease;
    }
    &.modal-enter, &.modal-leave-active {
        .modal-container {
            transform: scale(1.05);
            opacity: 0;
        }
    }
}


.modal-header {
    display: flex;
    flex-flow: row nowrap;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    padding-right: 1em;
    button {
        @include mdc-typography(title);
    }
}

.modal-title {
    @extend .page-title;
    flex: 1;
}

.modal-content {
    padding-left: 0.5em;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: scroll;
}

