.info-panel {
    display: flex;
    flex-flow: column nowrap;
    background-color: #222;
    flex: 1;
    margin: 2px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    z-index: 100;
    border: 1px solid $layout-header-bg-color;
    transition: all 0.3s ease;
}

.slide-enter, .slide-leave-active {
    transform: translate(-200px, 0);
}

.slide-enter-leave, .slide-leave {
    transform: translate(0, 0);
}
