@import "./mdl-custom";

html, body {
    font-family: Meiryo, Helvetica , "Yu Gothic" , sans-serif;
    font-size: small;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    margin: 0px;
    box-sizing: border-box;
    height: 100%;
    flex: 1;
    background-color: #222;
    color: white;
}

.mdl-layout__drawer-button {
    margin: auto 4px !important;
    line-height: $layout-header-desktop-row-height !important;
    .material-icons {
        margin-top: ($layout-drawer-button-desktop-size - 24px) / 2;
        margin-bottom: ($layout-drawer-button-desktop-size - 24px) / 2;
    }
}

.mdl-navigation__link {
    span {
        padding-left: 1em;
    }
}
.mdl-navigation__link:hover {
    color: $layout-drawer-bg-color !important;
}

.main-content {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 4px;
}

.vlist-row:nth-child(2n) {
    background-color: #282828;
}

.vlist-row:hover {
    background-color: #383838;
}

.vlist-header-row {
    border-bottom: solid 1px #aaa;
}

.vtable-cell, .vtable-header-cell {
    padding: 0 0.2em 0 0.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vtable-row {
    .cell-id, .cell-date {
        font-family: monospace;
    }
    .cell-graph {
        padding-left: 12px;
    }
}

.cell-comment {
    flex: 1;
}

.vtable-splitter {
    border-left: solid 1px #555;
}

.vtable-dragging-splitter {
    background-color: #888;
}

.info-panel {
    display: flex;
    flex-flow: column nowrap;
    background-color: #222;
    flex: 1;
    margin: 2px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    z-index: 100;
    border: 1px solid $layout-header-bg-color;
    transition: all 0.3s ease;
}

.slide-enter, .slide-leave-active {
    transform: translate(-200px, 0);
}

.slide-enter-leave, .slide-leave {
    transform: translate(0, 0);
}
