@import "./mdc";
@import "./vue-material";
@import "./scrollbar";
@import "./font";
@import "../src/renderer/view/common/components/styles";
@import "../src/renderer/view/main/components/styles";

html, body {
    font-family: Meiryo, Helvetica , "Yu Gothic" , sans-serif;
    font-size: small;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    margin: 0px;
    box-sizing: border-box;
    height: 100%;
    flex: 1;
    background-color: $mdc-theme-background;
    color: white;
}

main {
    position: relative;
    flex: 1;
}

.main-container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

#main-title {
    margin: 0;
}

.mdc-toolbar__icon {
    margin: 0 4px !important;
    padding: ($toolbar-height - 24px) / 2 !important;
    border-radius: 50%;
    &.icon-button--disabled {
        @include mdc-theme-prop(color, text-disabled-on-secondary);
    }
    &:not(.icon-button--disabled) {
        @include mdc-theme-prop(color, text-primary-on-secondary);
        cursor: pointer;
    }
}

.custom-button__icon--close {
    background-color: transparent;
    border: none;
    color: #888;
    width: 24px;
    height: 24px;
    box-sizing: content-box;
    margin: 2px;
    padding: 2px;
    border-radius: 50%;
    &.icon-button--disabled {
        @include mdc-theme-prop(color, text-disabled-on-background);
    }
    &:not(.icon-button--disabled) {
        cursor: pointer;
    }
}

.custom-drawer {
    max-width: 240px;
    .mdc-list-item {
        cursor: pointer;
        i {
            padding: 0;
            margin-right: 0.5em;
        }
        i, span {
        }
        &:hover {
            @include mdc-theme-prop(background-color, secondary);
            @include mdc-theme-prop(color, text-primary-on-secondary);
            i {
                @include mdc-theme-prop(color, text-primary-on-secondary);
            }
        }
    }
}

.main-content {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 4px;
}

.vtable-cell, .vtable-header-cell {
    padding: 0 0.5em 0 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#main-splitter-panel {
    flex: 1;
    margin: 2px;
}

.splitter-panel-splitter-horizontal, .splitter-panel-splitter-vertical {
    margin: 0 2px;
    &:hover {
        background-color: #383838;
    }
}

.fullscreen-overlay {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.left-overlay-wide {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    bottom: 0;
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.4);
}

.footer-text-button {
    font-weight: bold;
}

.fontfamily--monospace {
    font-family: monospace;
}

