@import "node_modules/vue-material/dist/theme/engine";
@include md-register-theme(
  "default",
  (
    primary: md-get-palette-color(lime, A700),
    accent: md-get-palette-color(yellow, A700),
    background: #222,
    text-primary: rgba(#000, 0.87),
    text-accent: rgba(#000, 0.54),
    text-primary-on-primary: rgba(#000, 0.87),
    text-primary-on-accent: rgba(#000, 0.87),
    text-primary-on-background: #fff,
    theme: dark
  )
);
@import "node_modules/vue-material/dist/theme/all";

.md-app-toolbar {
  min-height: 40px !important;
  max-height: 40px !important;
}

.md-app-drawer {
  max-width: 240px !important;
}
