@import "./vue-material";
@import "./scrollbar";

html,
body {
  font-size: small;
  width: 100%;
  height: 100%;
}

body {
  --default-fontfamily: Meiryo, Mervetica, "Yu Gothic", sans-serif;
  --monospace-fontfamily: monospace;
  font-family: var(--default-fontfamily) !important;
  display: flex;
  margin: 0px;
  box-sizing: border-box;
  height: 100%;
  flex: 1;
  background-color: var(--md-theme-default-background);
  color: white;
}

main {
  position: relative;
  flex: 1;
}

.vtable-cell,
.vtable-header-cell {
  padding: 0 0.5em 0 0.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fullscreen-overlay {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.left-overlay-wide {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  bottom: 0;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.4);
}

.fontfamily--monospace {
  font-family: var(--monospace-fontfamily) !important;
}

.flex--expand {
  flex: 1;
}
