html, body {
    font-family: Meiryo, Helvetica , "Yu Gothic" , sans-serif;
    font-size: small;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    margin: 0px;
    box-sizing: border-box;
    height: 100%;
    flex: 1;
    padding: 4px;
    background-color: #222;
    color: white;
}

.vlist-row:nth-child(2n) {
    background-color: #282828;
}

.vlist-header-row {
    border-bottom: solid 1px #aaa;
}

.vtable-cell, .vtable-header-cell {
    padding: 0 0.2em 0 0.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vtable-row .cell-id, .vtable-row .cell-date {
    font-family: monospace;
}

.cell-comment {
    flex: 1;
}

.vtable-splitter {
    border-left: solid 1px #555;
}

.vtable-dragging-splitter {
    background-color: #888;
}
