html, body {
    font-family: Meiryo, Helvetica , "Yu Gothic" , sans-serif;
    font-size: small;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    margin: 0px;
}

#app {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    flex: 1;
    padding: 4px;
    background-color: #222;
}
