.commit-detail {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    padding: 8px;

    @include mdc-typography(subheading2);

    .commit-detail-blank-message {
        @include mdc-typography(title);
        margin: auto;
        color: #444;
    }

    .commit-detail-summary {
        @include mdc-typography(title);
        padding: 4px;
        margin-bottom: 8px;
    }

    table {
        width: 100%;
        margin-bottom: 8px;
    }

    td {
        background-color: #333;
        padding: 0 8px;
    }

    .attr-name {
        vertical-align: middle;
    }

    .attr-value {
        width: 100%;
    }

    .commit-detail-body {
        margin: 0px 2px 8px 2px;
        font-size: small;
        background-color: #333;
        padding: 0.2em;
        min-height: 1em;
        max-height: 12em;
        white-space: pre-wrap;
        overflow: auto;
    }

    .commit-detail-files {
        display: flex;
        flex: 1;

        .cell-path {
            flex: 1;
        }
        div.vlist-container {
            display: flex;
            margin: 4px 2px;
            background-color: #333;

            .vlist-row {
                font-family: monospace;
                font-size: small;
                &:hover {
                    background-color: #383838;
                }
            }

            .vtable-row-selected {
                background-color: #484848;
            }

            .vtable-splitter {
                border-left: solid 1px #222;
            }

            .vtable-dragging-splitter {
                background-color: #222;
            }

            .vlist-header-row {
                border-bottom: solid 2px #222;
            }

            .cell-path {
                flex: 1;
            }
        }
    }
}

.commit-detail-inactive {
    color: #666;
}


