div.commit-detail(:class="className")
    div.commit-detail-summary
        | {{ commitSummary }}
    table.commit-detail-attrs
        tr
            td.attr-name id
            td.attr-value.fontfamily--monospace
                | {{ commit.id.substring(0, 8) }}
        tr
            td.attr-name parents
            td.attr-value.fontfamily--monospace
                div(v-for="p in commit.parentIds") {{ p.substring(0, 8) }}
        tr
            td.attr-name author
            td.attr-value {{ commit.author }}
        tr
            td.attr-name date
            td.attr-value {{ commitDate }}
    pre.commit-detail-body(v-if="commit.body")
        | {{ commit.body }}
    div.commit-detail-files
        vtable(
            id="commit-detail-files",
            :items="commit.files",
            :columns="fileColumns",
            :row-height="24",
            :get-item-key="getFileKey")
                template(slot="cell", slot-scope="p")
                    | {{ renderCell(p.columnId, p.item) }}
