#main-revision-log {
    span.ref-label {
        font-size: x-small;
        font-weight: bold;
        border: 2px solid;
        margin-right: 4px;
        padding-left: 0.4em;
        padding-right: 0.4em;
        border-radius: 1em;
    }

    span.ref-label-head {
        border-radius: 0;
        color: darkorange;
        border-color: darkorange;
    }

    span.ref-label-branch {
        color: cyan;
        border-color: cyan;
    }

    span.ref-label-tag {
        border-radius: 0;
        color: darkcyan;
        border-color: darkcyan;
    }

    span.ref-label-remote {
        color: #888;
        border-color: #888;
    }

}
