#main-revision-log {
    @include mdc-typography(subheading2);
    .vlist-row:nth-child(2n) {
        background-color: #282828;
    }

    .vlist-row:hover {
        background-color: #383838;
    }

    .vtable-row-selected {
        background-color: #484848;
    }

    .vlist-header-row {
        border-bottom: solid 1px #aaa;
    }

    .vtable-row, .vtable-row-selected {
        .cell-id, .cell-date {
            font-family: monospace;
            font-size: small;
        }
        .cell-graph {
            padding-left: 12px;
        }
    }

    .cell-comment {
        flex: 1;
    }

    .vtable-splitter {
        border-left: solid 1px #555;
    }

    .vtable-dragging-splitter {
        background-color: #888;
    }

    .ref-label {
        vertical-align: middle;
        height: 1.3em;
        line-height: 1.3em;
        font-size: smaller;
        border: 1px solid;
        margin: auto 4px auto 0;
        padding: 0 0.4em 0 0.4em;
        border-radius: 1em;
        cursor: default;
    }

    .ref-label-head {
        border-radius: 0;
        font-weight: bold;
        color: darkorange;
        border: 2px solid darkorange;
    }

    .ref-label-branch {
        color: cyan;
        border-color: cyan;
        cursor: pointer;
    }

    .ref-label-branch-current {
        font-weight: bold;
        color: cyan;
        border: 2px solid cyan;
        cursor: pointer;
    }

    .ref-label-tag {
        border-radius: 0;
        color: cyan;
        border-color: cyan;
    }

    .ref-label-remote {
        color: #888;
        border-color: #888;
    }

}
