doctype html
div.main-container
    md-app(md-mode="fixed")
        md-app-toolbar.md-primary(md-dense, style="padding: 0 8px")
            md-button.md-icon-button(@click="toggleMenu")
                md-icon menu
            span#main-title.md-title(style="margin: 0; flex: 1") {{ title }}
            div.md-toolbar-section-end
                slot(name="titlebar-buttons")

        md-app-drawer(:md-active="menuVisible", md-fixed)
            md-toolbar.md-transparent(md-elevation="0")
                div.md-toolbar-section-end
                    md-button.md-icon-button.md-dense(@click="toggleMenu")
                        md-icon keyboard_arrow_left
            md-list(@click.capture="toggleMenu")
                slot(name="drawer-navigations")

        md-app-content(style="position: relative; padding: 1px;")
            slot

    slot(name="overlay")
    dialog-base(:state="$store.state.dialog",
                :actions="$store.actions.dialog")

    //-
        div.main-container.mdc-theme--dark.mdc-typography
            header.mdc-toolbar(data-mdc-auto-init="MDCToolbar")
                div.mdc-toolbar__row
                    section.mdc-toolbar__section.mdc-toolbar__section--align-start
                        toolbar-button.mdc-toolbar__icon--menu(@click="openDrawer") menu
                        span.mdc-toolbar__title.mdc-typography--headline(id="main-title") {{ title }}

                    section.mdc-toolbar__section.mdc-toolbar__section--align-end
                        slot(name="titlebar-buttons")

            aside.mdc-temporary-drawer(ref="drawer", data-mdc-auto-init="MDCTemporaryDrawer")
                nav.mdc-temporary-drawer__drawer.custom-drawer
                    nav.mdc-temporary-drawer__content.mdc-list(@click.capture="closeDrawer")
                        slot(name="drawer-navigations")
            main
                slot

            slot(name="overlay")
            dialog-base(:state="$store.state.dialog",
                        :actions="$store.actions.dialog")

