main-layout(:title="repoName")
    template(slot="titlebar-buttons")
        toolbar-button(:disabled="!$store.state.config.interactiveShell",
                       @click.native.left="runInteractiveShell") input
        toolbar-button(@click.native.left="reload") refresh

    template(slot="drawer-navigations")
        navigation-link(text="Branches", icon="local_offer", @click.native="$store.dispatch('showSidebar', 'branches')")
        navigation-link(text="Remotes", icon="cloud", @click.native="$store.dispatch('showSidebar', 'remotes')")
        navigation-link(text="Back to Home", icon="home", :navigate-to="{ name: 'root', replace: true }")
        navigation-link(text="Preference", icon="settings", :navigate-to="{ path: 'preference', append: true }")
        navigation-link(text="Version", icon="info_outline")

    div.main-content
        keep-alive
            transition(name="sidebar")
                component(:is="sidebar")
        splitter-panel(id="main-splitter-panel", direction="horizontal", :splitter-width="5", :initial-ratio="0.6")
            log-view(slot="first")
            detail-panel(slot="second")

    router-view(slot="overlay")


