main-layout(:title="repoName")
    template(slot="titlebar-buttons")
        toolbar-button(:disabled="!$store.state.config.interactiveShell",
                       @click="runInteractiveShell") input
        toolbar-button(@click="reload") refresh

    template(slot="drawer-navigations")
        md-list-item(:to="{ path: 'preference', append: true }")
            md-icon.md-dense settings
            span.md-list-item-text Preference

        md-list-item(:to="{ name: 'root', replace: true }")
            md-icon.md-dense home
            span.md-list-item-text Back to Home

        md-list-item(@click="$store.actions.showVersionDialog()")
            md-icon.md-dense info_outline
            span.md-list-item-text About

        //-
            navigation-link(text="Branches", icon="local_offer", @click="$store.actions.showSidebar('branches')")
            navigation-link(text="Remotes", icon="cloud", @click="$store.actions.showSidebar('remotes')")

    div.main-content
        keep-alive
            transition(name="sidebar")
                component(:is="sidebar")
        splitter-panel(id="main-splitter-panel", direction="horizontal", :splitter-width="5", :initial-ratio="0.6")
            log-view(slot="first")
            detail-panel(slot="second")

    router-view(slot="overlay")


