@import "./commitDetail";
@import "./logView";
@import "./sidebar/styles";
@import "./modal/styles";

#welcome-repo-list {
    @include mdc-typography-base;

    padding: 0 0.5em;

    .mdc-list-item {
        height: 40px;
        margin-bottom: 0.6em;
    }

    .mdc-list-item__text {
        padding-left: 0.3em;
        padding-right: 2em;
    }

    .repo-name {
        @include mdc-typography(title);
        height: 24px;
        margin-right: auto;
    }

    .mdc-list-item__text__secondary {
        @include mdc-typography(subheading1);
        height: 16px;
        padding: 0 1em;
        color: #666;
    }
    .mdc-list-divider {
        margin: 1em 0;
    }
}
