main-layout(title="Inazuma")
    template(slot="drawer-navigations")
        navigation-link(text="Preference", icon="settings", :navigate-to="{ path: 'preference', append: true }")
        navigation-link(text="Version", icon="info_outline")

    div(style="flex: 1; padding: 0 1em;")
        h3 SELECT REPOSITORY
        div(style="display: inline-block;")
            ul#welcome-repo-list.mdc-list.mdc-list--two-line
                li.mdc-list-item(v-for="repo in recentOpened")
                    span.mdc-list-item__text
                        span {{ getFileName(repo) }}
                        span.mdc-list-item__text__secondary {{ repo }}
                    span.mdc-list-item__end-detail
                        fab-button(@click.native="openRepository(repo)") folder_open
                li.mdc-list-divider(role="separator")
                li.mdc-list-item
                    span.mdc-list-item__text(style="padding-right: 2em;")
                        span OTHERS ...
                        span.mdc-list-item__text__secondary Select other repositories by folder browser
                    span.mdc-list-item__end-detail
                        fab-button(:accent="true", @click.native="selectRepository") add

    router-view(slot="overlay")
