main-layout(title="Inazuma")
    template(slot="drawer-navigations")
        md-list-item(:to="{ path: 'preference', append: true }")
            md-icon.md-dense settings
            span.md-list-item-text Preference

        md-list-item(@click="$store.actions.showVersionDialog()")
            md-icon.md-dense info_outline
            span.md-list-item-text About

    div(style="flex: 1; padding: 0 1em;")
        h3.page-title.md-headline SELECT REPOSITORY
        div(style="display: inline-block; min-width: 30%;")
            md-list#welcome-repo-list.md-double-line
                md-list-item(@click="selectRepository")
                    md-icon.md-dense search
                    div.md-list-item-text
                        span.repo-name.md-subheading BROWSE...
                        span.repo-description.md-caption Select repositories by folder browser

                md-divider(style="margin: 0.5em 0")

                md-subheader.md-primary Recent opened

                md-list-item(v-for="repo in recentOpened", @click="openRepository(repo)")
                    md-icon history
                    div.md-list-item-text
                        span.repo-name.md-subheading {{ getFileName(repo) }}
                        span.repo-description.md-caption {{ repo }}

    router-view(slot="overlay")
