main-layout(title="Inazuma")
    template(slot="drawer-navigations")
        navigation-link(text="Preference", icon="settings", :navigate-to="{ path: 'preference', append: true }")
        navigation-link(text="Version", icon="info_outline", @click.native="$store.actions.showVersionDialog()")

    div(style="flex: 1; padding: 0 1em;")
        h3.page-title SELECT REPOSITORY
        div(style="display: inline-block;")
            ul#welcome-repo-list.mdc-list.mdc-list--two-line
                li.mdc-list-item(v-for="repo in recentOpened")
                    span.mdc-list-item__text
                        text-button.repo-name(
                            primary, compact, dense, @click.native="openRepository(repo)")
                                | {{ getFileName(repo) }}
                        span.mdc-list-item__text__secondary {{ repo }}
                li.mdc-list-divider(role="separator")
                li.mdc-list-item
                    span.mdc-list-item__text(style="padding-right: 2em;")
                        text-button.repo-name(
                            primary, compact, dense, @click.native="selectRepository")
                                | BROWSE...
                        span.mdc-list-item__text__secondary Select other repositories by folder browser

    router-view(slot="overlay")
