main-layout(title="Inazuma")
    template(slot="drawer-navigations")
        md-list-item(:to="{ path: 'preference', append: true }")
            md-icon.md-dense settings
            span.md-list-item-text Preference

        md-list-item(@click="$store.actions.showVersionDialog()")
            md-icon.md-dense info_outline
            span.md-list-item-text About

    div(style="flex: 1; padding: 0 1em;")
        h3.page-title SELECT REPOSITORY
        div(style="display: inline-block;")
            ul#welcome-repo-list.mdc-list.mdc-list--two-line
                li.mdc-list-item(v-for="repo in recentOpened")
                    span.mdc-list-item__text
                        text-button.repo-name(
                            primary, compact, dense, @click="openRepository(repo)")
                                | {{ getFileName(repo) }}
                        span.mdc-list-item__text__secondary {{ repo }}
                li.mdc-list-divider(role="separator")
                li.mdc-list-item
                    span.mdc-list-item__text(style="padding-right: 2em;")
                        text-button.repo-name(
                            primary, compact, dense, @click="selectRepository")
                                | BROWSE...
                        span.mdc-list-item__text__secondary Select other repositories by folder browser

    router-view(slot="overlay")
