.container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  :global {
    .md-app {
      flex: 1;
    }

    .md-app-toolbar {
      padding: 0 4px;
    }
  }
}

.title {
  margin: 0 !important;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 4px;
}
