.container {
  :global {
    .vlist-row:nth-child(2n) {
      background-color: #282828;
    }

    .vlist-row:hover {
      background-color: #383838;
    }

    .vlist-header-row {
      border-bottom: solid 1px #aaa;
    }

    .vtable-splitter {
      border-left: solid 1px #555;
    }

    .vtable-dragging-splitter {
      background-color: #888;
    }
  }

  .selectedRow {
    background-color: #484848;
  }
}
