.container {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  padding: 8px;
}

.inactive {
  color: #666;
}

.summary {
  padding: 4px;
  margin-bottom: 8px;
}

.attrTable {
  width: 100%;
  margin-bottom: 8px;
}

.attrName {
  background-color: #333;
  padding: 0 8px;
  vertical-align: middle;
  font-family: var(--monospace-fontfamily);
}

.attrValue {
  @extend .attrName;
  width: 100%;
}

.body {
  margin: 0px 2px 8px 2px;
  font-size: small;
  background-color: #333;
  padding: 0.2em;
  min-height: 1em;
  max-height: 12em;
  white-space: pre-wrap;
  overflow: auto;
}
