$sidebar-width: 200px;

.wrapper {
  display: flex;
  flex-flow: row-reverse nowrap;
  overflow-x: hidden;
  width: $sidebar-width;
  max-width: $sidebar-width;
  transition: all 0.3s ease;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  box-sizing: border-box;
  width: $sidebar-width;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
}

.titlebar {
  display: flex;
  flex-flow: row nowrap;
}

.title {
  font-size: large;
  vertical-align: bottom;
  margin: auto;
  padding-top: 0.5em;
  padding-left: 0.5em;
  flex: 1;
}

.content {
  display: flex;
  padding: 0.5em;
  flex: 1;
}

.wrapper:global(.sidebar-enter),
.wrapper:global(.sidebar-leave-to) {
  width: 0;
  max-width: 0;
}
