$branchNameHeight: 18px;
$commitIdHeight: 12px;
$vPadding: 4px;

.wrapper {
  --list-item-height: $branchNameHeight + $commitIdHeight + $vPadding * 2;
  padding: 0;
  margin: 0 0 0.5em 0;
  display: flex;
  flex-flow: column nowrap;
  flex: auto 0 0;
}
.header {
  position: relative;
  padding: 2px 2px 2px 4px;
  min-height: 16px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: #444;
  }
}
.expandIcon {
  position: absolute;
  right: 0;
  font-size: 16px;
  transition: transform ease 0.3s;
}
.container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  overflow-y: hidden;
  :global {
    .md-list {
      padding: 0;
      flex: 1;
    }
    .md-list-item-content {
      min-height: var(--list-item-height) !important;
      max-height: var(--list-item-height) !important;
      padding: $vPadding 12px;
    }
  }
}
.currentBranch {
  background-color: #333;
}
.branchName {
  height: $branchNameHeight;
  font-size: 14px;
  text-transform: none !important;
  text-overflow: ellipsis;
}
.commitId {
  height: $commitIdHeight;
  font-size: 12px !important;
  text-transform: none !important;
}
.transition {
  &:global(-enter-active),
  &:global(-leave-active) {
    transition: height 0.2s ease;
  }
  &:global(-enter),
  &:global(-leave-to) {
    height: 0 !important;
  }
}
