.container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  bottom: 0;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.4);

  flex: 1;
  transition: all 0.3s ease;
}

.subHeader {
  padding: 0;
  min-height: 26px;
}

.modalBase:global(.modal-enter),
.modalBase:global(.modal-leave-to) {
  .container {
    transform: translateX(-100%);
  }
}

.modalContent {
  padding-left: 8px;
  padding-right: 32px;
}

.input {
  margin-left: 1em;
}
.numberInput {
  margin-left: 1em;
  min-width: 200px;
  width: 200px;
}
