.content {
  flex: 1;
  padding: 0 1em;
}

.leftPanel {
  display: inline-block;
  min-width: 40%;

  :global {
    .md-list {
      background-color: var(--md-theme-default-background-on-background);
      padding: 0 0.5em;
    }
    .md-list-item-content {
      min-height: 32px !important;
    }
    .md-subheader {
      min-height: 32px !important;
    }
    .md-icon {
      margin-right: 0.5em !important;
    }
  }
}

.repoName {
  height: 20px;
  margin-right: auto;
  text-transform: none !important;
}
.repoDescription {
  text-transform: none !important;
  font-size: 75%;
}
.divider {
  margin: 0.5em 0 !important;
}
