.modal-mask {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    transition: all 0.5s ease;

    &.v-enter, &.v-leave-active {
        background-color: rgba(0, 0, 0, 0);

        .pref-container {
            transform: translateX(-800px);
        }
    }
}

.pref-container {
    flex: 1;
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 0 1em 1em;
    box-sizing: border-box;
    background-color: $layout-drawer-bg-color;
    border-right: 1px solid $layout-drawer-border-color;
    transition: all 0.5s ease;
}

.pref-header {
    display: flex;
    flex-flow: row nowrap;
}

.pref-footer {
    display: flex;
    flex-direction: row;
    padding-right: 1em;
    button {
        @include mdc-typography(title);
    }
}

.pref-title {
    flex: 1;
}

.pref-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: scroll;
}

.pref-path-input {
    width: 90%;
}
