#preference-panel {
    .modal-container {
        @extend .left-overlay-wide;
        flex: 1;
        transition: all 0.3s ease;

        .mdc-text-field {
            margin-top: 8px !important;
        }
        .mdc-text-field__label--float-above {
            font-size: medium;
        }
    }
    &.modal-enter, &.modal-leave-active {
        .modal-container {
            transform: translateX(-100%);
        }
    }
}

.pref-path-input {
    min-width: 90%;
}

.pref-input {
    min-width: 200px;
}
