.container {
  margin: auto;
  min-width: 400px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
}

.dialogBase:global(.modal-enter),
.dialogBase:global(.modal-leave-to) {
  .container {
    transform: scale(1.05);
    opacity: 0;
  }
}
