.container {
  max-width: 80%;
  padding: 12px;
  background-color: var(--md-theme-default-accent) !important;
  & * {
    color: var(--md-theme-default-text-primary-on-accent) !important;
  }
}

.message {
  margin-left: 8px;
  font-weight: bold;
}
