.mask {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  transition: all 0.3s ease;
  overflow: hidden;
}

.mask:global(.modal-enter),
.mask:global(.modal-leave-active) {
  background-color: rgba(0, 0, 0, 0);
}

.container {
  display: flex;
  padding-left: 1em;
  flex-flow: column nowrap;
  box-sizing: border-box;
  background: var(--md-theme-default-background);
}

.title {
  margin-top: 1em;
  margin-bottom: 0.5em;
  flex: 1;
}

.header {
  display: flex;
  flex-flow: row nowrap;
}

.footer {
  display: flex;
  flex-direction: row;
  padding-right: 1em;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}
