transition(name="sidebar", mode="out-in")
    div.sidebar-wrapper
        div.sidebar-container
            div.sidebar-titlebar
                span.sidebar-title {{ title }}
                close-button(@click.native.stop="close")
            div.sidebar-content
                slot
